@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #183b56;
    --secondary-color: #577592;
    --background-dark-color: #10121A;
    --background-dark-grey: #191D2B;
    --border-color: #2e344e;
    --background-light-color: #f1f1f1;
    --background-light-color-2: rgba(3, 127, 255, 0.3);
    --white-color: #fff;
    --font-light-color: #a4acc4;
    --font-dark-color: #313131;
    --font-dark-color-2: #151515;
    --sidebar-dark-color: #191D2B;
    --scrollbar-bg-color: #383838;
    --scrollbar-thumb-color: #6b6b6b;
    --scrollbar-width: 12px;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
}

p {
    font-family: "Roboto", sans-serif;
    color: var(--secondary-color);
    line-height: 1.4rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
}

nav{
    background-color: #f3faff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    right: 0;
}

.main-nav {
    justify-content: space-between;
    padding-block: 7px;
}

.logo img{
    width: 150px;

}

.nav-links ul {
    gap: 60px;
}

.hover-link {
    cursor: pointer;
}

.hover-link:hover {
    color: var(--secondary-color);
}

.hover-link:active {
color: red;
}

.nav-item.active{
    color: blue;
}

.search-bar {
    height: 32px;
    gap: 8px;
}

.news-input {
    width: 200;
    height: 100%;
    padding-inline: 12px;
    border: 2px solid #ccc;

    border-radius: 5px;
    font-family: "Roboto", sans-serif;
}

.search-button {
    background-color: var(--primary-color);
    color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

.search-button:hover {
    background-color: var(--secondary-color);
}

main {
    padding-block: 20px;
    margin-top: 80px;
    
}

.cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
    
}

.card {
    width: 360px;
    min-height: 400px;
    box-shadow: 0 0 4px #d4ecff;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.3s ease;
}

.card:hover {
    box-shadow: 1px 1px 8px #d4ecff;
    background-color: #f9fdff;
    transform: translateY(-2px);

}

.card-header img{
    width: 100%;
    height: 180px;
    object-fit: cover;

 }

 .card-content {
     padding: 16px;
 }

 .news-source {
    margin-block: 12px;
 }